.top_bar {
	display: flex;
	justify-content: space-between;
	padding: 7px;
	/*border:1px solid black;*/
}

.top_bar li {
	list-style: none;
	flex-grow: 1;
}

.greeting {
	flex-grow: 5 !important;
}

.menu {

}

.menu img {
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border: 2px solid black;
	border-radius: 50%;
}