
.directory_wrapper {
	width: 35%;
	height: 600px;
	overflow: hidden;
	border: 2px solid #000;
	margin: 20px;
	overflow-y:auto;
}

.directory_wrapper h2 {
	text-align: center;
	text-decoration: underline;
}

.list {
	font-size: 14px;
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
}