body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*.page {
	height: 100vh;
}

.wrapper {
	display: flex;
	margin: 50px;
}

.directory_wrapper {
	background: #ddd;
	height: 80vh;
	border: 1px solid black;
	overflow: hidden;
}

.directory_wrapper h2 {
	font-family: lato;
	color: black;
	text-align: center;
	font-size: 28px;
	letter-spacing: 2px;
	text-decoration: underline;
	margin-bottom: 10px;
}

.list_container {
	height: 100%;
	width:100%;
	overflow-y:scroll;
	padding-right: 17px;
}

.list_container::-webkit-scrollbar { display:none;}

.list {
	font-size: 14px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.personName {
	color: royalblue;
	background-color: #bbb;
	border-bottom: 1px solid black;
	padding: 10px 15px;
}

.personName:hover {
	cursor: pointer;
	background-color: #ddd;
}*/










/*GREENSOCK JS TIME*/

.page {
	height: 100vh;
}

.one {
	background-color: white;
}
.two {
	background-color: goldenrod;
}
.three {
	background-color: teal;
}

