body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*.page {
	height: 100vh;
}

.wrapper {
	display: flex;
	margin: 50px;
}

.directory_wrapper {
	background: #ddd;
	height: 80vh;
	border: 1px solid black;
	overflow: hidden;
}

.directory_wrapper h2 {
	font-family: lato;
	color: black;
	text-align: center;
	font-size: 28px;
	letter-spacing: 2px;
	text-decoration: underline;
	margin-bottom: 10px;
}

.list_container {
	height: 100%;
	width:100%;
	overflow-y:scroll;
	padding-right: 17px;
}

.list_container::-webkit-scrollbar { display:none;}

.list {
	font-size: 14px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.personName {
	color: royalblue;
	background-color: #bbb;
	border-bottom: 1px solid black;
	padding: 10px 15px;
}

.personName:hover {
	cursor: pointer;
	background-color: #ddd;
}*/





/*Stock CSS*/

body {
    width: 100%;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizespeed;
    color: #000;
    font-size: 20px;
    /*overflow: hidden;*/
}
body {
    background-repeat: no-repeat;
    background-position: top center;
    /*overflow: hidden;*/
}

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.app section {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*opacity: 0;*/
    /*visibility: hidden;*/
}

.app section.home {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.app section.project {
    position: absolute;
    background-color: transparent;
    color: #ffffff;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    overflow: hidden;
}






.app section.project .background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.app section.project .background .cover-image .container {
    background-color: #000000;
    overflow: hidden;
}

.app section.project .background .cover-image .container .background {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.app section.project .background .cover-image .container-2, .app section.project .background .cover-image .container-4, .app section.project .background .cover-image .container-6, .app section.project .background .cover-image .container-8 {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 50%;
}

.app section.project .background .cover-image .container-1, .app section.project .background .cover-image .container-3, .app section.project .background .cover-image .container-5, .app section.project .background .cover-image .container-7 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
}

.app section.project .background .cover-image .container-4, .app section.project .background .cover-image .container-6, .app section.project .background .cover-image .container-8 {
    background-color: #000000;
}

.app section.project .background .cover-image .container-4, .app section.project .background .cover-image .container-6, .app section.project .background .cover-image .container-8 {
    -webkit-transform: translate3d(-100%, 0%, 0);
    transform: translate3d(-100%, 0%, 0);
    opacity: 0;
}

.app section.project .background .cover-image .container-3, .app section.project .background .cover-image .container-5, .app section.project .background .cover-image .container-7 {
    background-color: #000000;
}

.app section.project .background .cover-image .container-3, .app section.project .background .cover-image .container-5, .app section.project .background .cover-image .container-7 {
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0);
    opacity: 0;
}



.app section.project .background .cover-image .container .background-2 {
    /*background-image: ;*/
    background-color: red;
    background-size: cover;
    background-position: center center;
}
.app section.project .background .cover-image .container .background-4 {
    /*background-image:;*/
    background-color: blue;
    background-size: cover;
    background-position: center center;
}
.app section.project .background .cover-image .container .background-6 {
    /*background-image: url(../assets/images/website/home/project/background_6.jpg);*/
    background-color: purple;
    background-size: cover;
    background-position: center center;
}


.app section.project .background .cover-image .container .background-1 {
    /*background-image: url(../assets/images/website/home/project/background_1.jpg);*/
    background-size: cover;
    background-position: center center;
}
.app section.project .background .cover-image .container .background-3 {
    /*background-image: url(../assets/images/website/home/project/background_3.jpg);*/
    background-size: cover;
    background-position: center center;
}
.app section.project .background .cover-image .container .background-5 {
    /*background-image: url(../assets/images/website/home/project/background_5.jpg);*/
    background-size: cover;
    background-position: center center;
}



/*cover-text*/
.app section.project .background .cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: #ffffff;
}

.app section.project .background .cover-text .container {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate3d(0px, -50%, 0px);
    transform: translate3d(0px, -50%, 0px);
    opacity: 0;
}

.app section.project .background .cover-text .container .title {
    position: absolute;
    display: block;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 42px;
    left: 50%;
    overflow: hidden;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    text-rendering: geometricPrecision;
}

.app section.project .background .cover-text .container .title {
    margin-bottom: 20px;
}

.app section.project .background .cover-text .container .title .text-underline {
    margin-right: 0px;
}

.app section.home .text-underline {
    width: auto;
    float: left;
    margin-right: 15px;
}

.app section.home .text-underline .content {
    width: auto;
}

.app section.project .background .cover-text .container .title .text-underline p {
    font-size: 11px;
    letter-spacing: 9px;
}

.app section.project .background .cover-text .container .title .text-underline p {
    /*font-family: 'HPSimplified-Regular';*/
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #1a8ed4;
}

.app section.project .background .cover-text .container .title .text-underline .underline {
    margin-top: 0px;
}

.app section.home .text-underline .underline {
    position: relative;
    width: 100%;
    height: 1px;
    margin-top: 4px;
    overflow: hidden;
}

.app section.home .text-underline .underline .background-underline {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #1a8ed4;
}

.app section.project .background .cover-text .container .description {
    width: 100%;
    float: none;
    margin-top: 40px;
    height: auto;
}

.app section.project .background .cover-text .container .description {
    width: 100%;
    float: none;
}

.app section.project .background .cover-text .container .description p {
    width: 55%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
    /*font-family: 'HPSimplified-Light';*/
    font-size: 16px;
    color: #000000;
    line-height: 26px;
}

.app section.project .background .cover-text .container .description p {
    width: 55%;
    font-size: 12px;
    line-height: 20px;
}



/*======================================*/
	/* Text Section above List */

.app section.project .text {
    position: absolute;
    top: 30%;
    left: 11%;
    -webkit-transform: translate3d(0px, -50%, 0px);
    transform: translate3d(0px, -50%, 0px);
    overflow: hidden;
}

.app section.project .text {
    left: 8%;
}

.app section.project .text .highlight {
    width: 200px;
}

.app section.project .text .highlight p {
    /*font-family: 'HPSimplified-Regular';*/
    font-size: 14px;
    color: #1a8ed4;
    text-transform: uppercase;
    letter-spacing: 9px;
}

.app section.project .text .highlight p {
    font-size: 10px;
    letter-spacing: 7px;
}

.text-underline {
	width: auto;
	float: left;
	margin-right: 15px;
}

.app section.project .text-underline .content {
	width: auto;
}

.app section.project .text-underline .underline {
    position: relative;
    width: 100%;
    height: 1px;
    margin-top: 4px;
    /*overflow: hidden;*/
}

.app section.project .text .highlight .text-underline .underline {
    margin-top: 0px;
}

.app section.project .text-underline .underline .background-underline {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #1a8ed4;
}

.app section.project .text .title {
    margin-top: 45px;
    height: 150px;
}

.app section.project .text .title {
    margin-top: 35px;
    height: 100px;
}


.line-horizontal {
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background-color: #1a8ed4;
}

.app section.project .text .line-horizontal {
    margin: 0;
    margin-top: 20px;
    width: 90px;
    height: 10px;
}

.app section.project .text .line-horizontal {
    width: 60px;
}

.app section.project .text .title p {
    /*font-family: 'HPSimplified-Light';*/
    font-size: 77px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 75px;
}

.app section.project .text .title p {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 50px;
}

.app section.project .text .title p span {
    display: block;
}


/*======================================*/
	/* List below Text Section */

.app section.project .list {
    position: absolute;
    top: 75%;
    left: 11%;
    margin-top: -55px;
}

.app section.project .list {
    left: 8%;
}

.app section.project .list ul {
    list-style: none;
}

.app section.project .list ul li {
    position: relative;
    display: block;
    height: 50px;
    width: 300px;
    cursor: pointer;
}

.app section.project .list ul li {
    height: 40px;
    width: 300px;
}

.app section.project .list ul li .bullet {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ffffff;
}

.app section.project .list ul li .bullet {
    top: 1px;
    left: 1px;
    width: 5px;
    height: 5px;
}

.app section.project .list ul li .line {
    position: absolute;
    top: 0px;
    left: 3px;
    width: 1px;
    height: 50px;
    opacity: 0.2;
    overflow: hidden;
}

.app section.project .list ul li .line {
    height: 40px;
}

.app section.project .list ul li .line .line-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.app section.project .list ul li .icon {
    position: absolute;
    top: -9px;
    left: -9px;
    width: 25px;
    height: 25px;
    opacity: 0;
}


.app section.project .list ul li .icon {
    top: -7px;
    left: -7px;
    width: 20px;
    height: 20px;
}

ul li .icon .image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*background-image: url(../assets/images/website/home/project/list_bullet.png);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.app section.project .list ul li .title {
    position: absolute;
    top: -3px;
    left: 30px;
    width: 100%;
    font-family: 'HPSimplified-Regular';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #ffffff;
}

.app section.project .list ul li .title {
    font-size: 10px;
    letter-spacing: 6px;
}

.app section.project .list ul li .title .text-underline {
    margin-right: 0px;
}

/*.app section.project .list ul li .title .text-underline .underline {
    margin-top: 0px;
    opacity: 0;
}*/

.app section.project .list ul li .title .text-underline .underline .background-underline {
    background-color: #ffffff;
}


/*GREENSOCK JS TIME*/


